.course-results {
    

    table {
        td {
            padding: 5px 10px;
        }

        .expanded {
            background: #000;
            
            td {
                padding: 5px 10px;
            }
        }
    }

}