.kb-sections {
    .sections-wrap {
        height: calc(100vh - 94px);
        overflow-y:auto ;
        overflow-x: hidden;
    }
    .section {
        padding: 8px 0;
        cursor:pointer;
        position: relative;
        p {
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 0;
            white-space: nowrap;
        }
        &:hover {
            background: #f1f1f1;
            p {
                display: block;
            }   
            .section-btns i {
                display: block;
            }
        }
        .section-btns i {
            display: none;
            width: 27px;
            margin-left: 5px;
            padding: 5px;
            background: #dddddd;
            border-radius: 4px;
            &:hover {
                color:$hover-blue;
            }
        }
        .section-btns {
            position: absolute;
            right: 0;
            top: 6px;
            text-align: center;
            display: flex;
        }
    }
}


