.course-results {
    

    table {
        th, td {
            padding: 10px !important;
        }

        .expanded {
            background: #c0def2;
            
            td {
                padding: 5px 10px !important;
                font-weight: 600;

                div {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                }
            }
        }

        .expanded-title {
            background: #4ba4e0;

            td {
                font-weight: 600;

                div {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                }
            }

        }
    }

}