.course-results {
    

    table {
        th, td {
            padding: 3px 10px !important;
        }

        .expanded {
            background: #c5c6c7;
            
            td {
                padding: 5px 10px;
            }
        }
    }

}