.course-results {
    

    table {
        th, td {
            padding: 10px !important;
        }

        .expanded {
            background-color: #c0def2;
        }

        .expanded-title {
            background-color: #4ba4e0;
            color: #fff;
        }
    }

}