.mycourse {
    

    .next-btn {
        position: fixed;
        bottom: 15px;
        right: 70px;
        padding: 6px 15px;
        z-index: 99;
        font-size: 16px;
        user-select: none;
        border-radius: 50px;
        box-shadow: 1px 0 11px #5678a7;
        transition: 0.35s ease all;

        &:hover {
            transform: scale(1.02);
        }
    }

    .course-item {
        .title {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 1px;
            background: #eff2f4;
            padding: 5px 10px;
            margin-bottom: 4px;
            border: 1px solid #eeeeee;
            border-radius: 4px;
            color:#ccc;

            &.disabled {
                background: #5a6673;
            }

            &.active {
                background: #95c19f;
            }

            .icon {
                position: relative;
                top: 4px;
                color: #ccc;
            }
        }

        &.pass {
            .title {
                color: #000;
            }
            .icon {
                color: #000;
            }
        }

        &.active {
            .title {
                color: #096dd9;
            }
            .icon {
                color: #096dd9;
            }
        }
    }
    
    .course-name {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 6px;
        color: #2a414e;
        border-bottom: 3px double;
    }

    .rp {
        .lp {
            min-height: calc(100vh);
            max-height: calc(100vh);
            
            .kb-wrap {
                height: 100%;
            }
        } 

        .rp {
            overflow-y: auto !important;
        }
    }

    .fixed-height { 
        height: 90vh;
        height: calc(100vh - 40px);
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid #eee;
    }

    .content {
        max-height: 100vh;
        max-height: calc(100vh);
        overflow: auto;

        &.knowbase {

            .content {
                overflow: visible;
            }
            
        }
    }




    .test {
      width: 100%;
    }
  
    .questions {
      height: 100vh;
      max-width: 1000px;
      margin: 0 auto;
      overflow: auto;
      border: 0;
      border-radius: 0px;
      box-shadow: none;
      padding: 0;
  
      .question {
        background: #fff !important;
        margin-bottom: 1em !important;
      }
      
      .title {
        p {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .variant p {
        line-height: 1.2em;
      }
    }
  
  
  
    
}