.permissions {

  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .list {


    .item {
      padding: 5px 15px;
      border: 1px solid #ddd;
      align-items: center;
      display: flex;
      .person {
        width: 20%;
        padding-right: 15px;
      }

      .role {
        width: 20%;
        color: #004dff;
        padding-right: 15px;
      }

      .groups {
        width: 50%;
        padding-right: 15px;
      }

      .actions {
        width: 10%;
      }

    }
  }

  .roles {
    .item {
      .name {
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover {
          color:#004dff;
        }
      }
    }
  }

  .role-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .pages {
    .item {
      border: 1px solid #ddd;
      align-items: center;
      display: flex;
      padding: 5px 15px;
    }
    .name {
      width: 300px;
    }
  }

}