.videos {
    max-height: 500px;
    max-height: calc(100vh - 180px);
    overflow: hidden;
    overflow-y: auto; 
}

.ibtn {
    background: #c3c4c7;
    padding: 5px;
    height: 28px;
    width: 28px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-title {
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    padding: 0;
}

.h-70 {
    height: 70px;
    min-height: 70px !important;
}

.p-title {
    font-weight: 600;
    font-size: 16px;
}

.p-desc {
    font-size: 14px;
}

.v-title {
    font-weight: 600;
    font-size: 16px;
}

.v-desc {
    font-size: 14px;
}

.video-block {
    display: flex;
    border: 1px solid #efefef;
    border-top: 0;
    padding: 0 0;
    align-items: center;
    cursor: pointer;

    &:first-child {
        border-top:1px solid #efefef;
    }

    i.fa-lock {
        display: none;
    }
    
    &.disabled {

        background: grey !important;
        i.fa-lock {
            display: inline;
        }
    }

    &.active {
        background: #69a3d6;
    }

    &:hover {
        background: #f9f9f9;
        
        &.active {
            background: #6abcff;
        }

        .mover {
            background: transparent;
        }
    }

    
    
    h4 {
        margin-bottom: 0;
        font-size: 13px;
        word-break: break-word;
        max-height: 3em;
        line-height: 18px;
        overflow: hidden;
    }

    .img {
        min-width: 80px;
        width: 80px;
    }

    .img img {
        width: 100%;
    }

    .desc {
        padding: 3px 8px;
        overflow: hidden;
    }

    .controls {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        position: relative;
        margin-left: auto;
        height: 100%;
        
        i {
            cursor: pointer;
            display: block;
            position: relative;

            &:hover {
                color: #0d64b5;
            }
        }

        .controls-menu {
            display: none;
        }

        &:hover {

            .controls-menu {
                position: absolute;
                display: block;
                z-index: 2;
                top: 0;
                right: 0;
                background: #fff;
                border-radius: 5px;
                border: 1px solid #efefef;

                .item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        background: #efefef;
                    }

                    i {
                        width: 30px;
                        font-size: 14px;
                        text-align: center;
                    }

                    .text {
                        padding: 7px 0px;
                        font-weight: 600;
                        font-size: 12px;
                        width: 150px;
                    }
                }
            }
        }



    }

    .mover {
        font-size: 20px;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            cursor: move;
        }
    }

}

.fast-edit {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 15px;
    background: #fff;
}

.video-search {
    margin-bottom: 15px;

    .search-input {
        margin-bottom: 15px;
        width: 100%;
    }

    .items {
        border: 1px solid #efefef;
        border-radius: 5px;

        height: 250px;
        overflow-x: hidden;
        overflow-y: auto;

        .item {
            padding: 15px;
            border-bottom: 1px solid #efefef;
            background: #fff;
            cursor: pointer;

            &.selected {
                background: #eeeeee;
            }

            &:hover {
                background: #efefef;

                .text {
                    color: rgb(14, 98, 255);
                }
            }

            input {
                width: 25px;
            }

            img {
                width: 50px;
            }

            .title {
                padding: 5px 10px;
                font-size: 14px;
            }
        }
    }
}

.steps {
    width: 100%;
    display: flex;

    p {
        color: #ccc;

        &.active {
            color: rgb(6, 111, 171);
        }
    }
}

.uploaded_files {
    margin-top: 15px;

    p {
        margin-bottom: 0;
    }
}

.fast-edit {
    .title {
        font-size: 20px;
        font-weight: 600;
    }

    .desc {
        margin-bottom: 15px;
    }
}

.no-video {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 600;
}

.textarea {
    min-height: 250px;
}

.vjs-custom-skin > .video-js {
    width: 100%;
    overflow: hidden;
    display: flex;
    height: 300px;
    min-height: 50vh;
}

.pass__ball {
    input {
        width: 55px;
        text-align: center;
    }
}