.structure-company{
  display: flex;
  overflow: scroll;
  height: 100vh;
  .structure-group{
    display: flex;
    margin-top: 50px;
  }
  .structure-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
  }
  .structure-card{
    width: 350px;
    border-radius: 12px;
    background-color: #EBF3FB;
    border-bottom: 2px solid rgba(162, 183, 213, 0.5);
    text-align: center;
    margin: 0 10px;
    .structure-card-header{
      padding: 20px 20px 10px 20px;
      border-bottom: 1px dashed #D0DEF5;
      .department{
        font-weight: 500;
        font-size: 17px;
        color: #152136;
      }
      .count{
        color: #8DA0C1;
        font-size: 11px;
      }
    }
    .structure-card-body{
      padding: 15px 20px 20px 20px;
      img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
      .position{
        margin-top: 15px;
        color: #8DA0C1;
        font-size: 13px;
        font-weight: 500;
      }
      .full-name{
        font-size: 17px;
        font-weight: 500;
        color: #156AE8;
      }
    }
  }
}
