.structure-container {
	overflow: scroll;
	height: 100vh;
	padding: 20px;

	&.is-dragging {
		user-select: none;
		cursor: grabbing;
	}

	.divider-users {
		margin: 10px auto;
		width: 50%;
	}

	.user-group-modal {
		width: 400px;
		padding: 20px;

		position: fixed;
		z-index: 10002;
		top: 50%;
		left: 50%;

		text-align: left;
		background-color: #fff;
		border-radius: 12px;
		transform: translate(-50%, -50%);

		.user-group-list {
			max-height: 500px;
			overflow: auto;
		}
		.user-group-item {
			border-bottom: 1px solid #dddddd;
			padding: 8px 0;
			display: flex;
			align-items: center;
			.user-group-photo {
				width: 50px;
				height: 50px;
				object-fit: cover;
				border-radius: 50%;
				margin-right: 20px;
			}
			.user-group-full-name {
				font-size: 16px;
				font-weight: 600;
			}
			.user-group-position {
				margin-top: 5px;
				font-size: 14px;
				color: #4a5568;
			}
		}
	}

	.edit-card {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 10002;
		width: 500px;
		text-align: left;
		background-color: #fff;
		border-radius: 12px;
		transform: translate(-50%, -50%);

		.custom-switch {
			margin: 0;
			label {
				font-size: 13px;
				color: #8da0c1;
			}
		}

		.select-color {
			display: flex;
			align-items: center;
			.label {
				font-size: 13px;
				font-weight: 500;
				margin-right: 20px;
			}
			.circle-picker {
				width: 40px;
				min-width: 40px;
				height: 40px;
				display: inline-flex;
				overflow: hidden;
				border-radius: 50%;
				align-items: center;
				border: 2px solid #ddd;
				justify-content: center;

				input {
					width: 60px;
					height: 60px;
					transform: scale(1.5);
					cursor: pointer;
				}
			}
		}
		textarea {
			padding: 10px !important;
			height: auto !important;
			min-height: 100px;
			background-color: #f7fafc;
			border-radius: 6px;
		}

		.multiselect-users {
			.multiselect__option {
				display: flex !important;
				align-items: center !important;
				height: 50px !important;

				&:hover {
					background-color: #f2f2f2 !important;
					color: #333 !important;
				}
			}

			.user-image {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				margin-right: 10px;
			}

			.user-full-name {
				font-size: 14px;
				font-weight: 500;
			}
		}

		.edit-card-header {
			padding: 20px 25px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #ebebeb;

			.edit-card-title {
				font-weight: 600;
				font-size: 18px;
			}

			.edit-card-close {
				font-size: 20px;
				color: #a6b7d4;
				line-height: 1;
				width: 30px;
				height: 30px;
				cursor: pointer;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}
		}

		.edit-card-body {
			padding: 20px 25px;
		}

		.edit-card-footer {
			padding: 20px 25px;
			border-top: 1px solid #ebebeb;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.btn-remove {
				color: #a6b7d4;

				&:hover {
					background-color: #ed2353;
					color: #fff;
				}
			}
		}

		.collapse-block {
			.collapse-item {
				margin-bottom: 15px;
				margin-top: 10px;
				font-weight: 600;
				font-size: 15px;
				color: #156ae8;
				display: inline-flex;
				align-items: center;
				cursor: pointer;

				&.not-collapsed {
					color: #53688b;

					i {
						color: #a6b7d4;

						&:before {
							content: "\f068";
						}
					}
				}

				i {
					font-size: 12px;
					margin-right: 10px;
				}
			}

			// .collapse {}
		}
	}

	.backdrop-structure-area {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #152136;
		opacity: 0.5;
		z-index: 10001;
	}

	.show-test {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 9999;
		width: 300px;
		height: 500px;
		background-color: #333;
		border-radius: 20px;
		border: 3px solid red;
	}

	.range-zoom {
		position: fixed;
		top: 200px;
		right: 35px;
		z-index: 999;

		.range-input {
			-webkit-appearance: none;
			width: 100%;
			transform: rotate(90deg);

			&:focus {
				outline: 0;
			}

			&::-webkit-slider-runnable-track {
				width: 100%;
				height: 2px;
				cursor: pointer;
				animation: 0.2s;
				background: #d2dbe8;
				border-radius: 1px;
				box-shadow: none;
				border: 0;
			}

			&::-webkit-slider-thumb {
				z-index: 2;
				position: relative;
				height: 18px;
				width: 18px;
				border-radius: 50%;
				background: #156ae8;
				cursor: pointer;
				-webkit-appearance: none;
				margin-top: -7px;
			}

			&::-moz-range-track {
				width: 100%;
				height: 2px;
				cursor: pointer;
				animation: 0.2s;
				background: #156ae8;
				border-radius: 1px;
				box-shadow: none;
				border: 0;
			}

			&::-moz-range-thumb {
				z-index: 2;
				position: relative;
				box-shadow: 0px 0px 0px #000;
				border: 1px solid #2497e3;
				height: 18px;
				width: 18px;
				border-radius: 50%;
				background: #3faffa;
				cursor: pointer;
			}

			&::-ms-track {
				width: 100%;
				height: 5px;
				cursor: pointer;
				animation: 0.2s;
				background: transparent;
				border-color: transparent;
				color: transparent;
			}

			&::-ms-fill-lower,
			&::-ms-fill-upper {
				background: #3faffa;
				border-radius: 1px;
				box-shadow: none;
				border: 0;
			}

			&::-ms-thumb {
				z-index: 2;
				position: relative;
				height: 18px;
				width: 18px;
				border-radius: 50%;
				background: #3faffa;
				cursor: pointer;
			}
		}
	}

	.structure-company-controls {
		position: fixed;
		top: 20px;
		right: 80px;
		z-index: 999;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.actions {
			display: flex;
			align-items: center;
		}

		button {
			&:active,
			&:focus {
				outline: none !important;
			}
		}

		.remove-demo {
			height: 35px;
			padding: 0 25px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 13px;
			color: #8898b4;
			border: 1px solid #93b3e2;
			background-color: #f6f7fc;
			border-radius: 8px;
			margin-right: 10px;
		}

		.icon-btn {
			width: 35px;
			height: 35px;
			display: inline-flex;
			align-items: center;
			justify-content: center;

			border: 1px solid #93b3e2;
			border-radius: 8px;
			background-color: #fff;
			margin-left: 10px;

			i {
				font-size: 16px !important;
				color: #a6b7d4 !important;
			}

			&.active {
				color: #fff;
				background-color: #3781ef;

				i {
					color: #fff !important;
				}
			}
		}
	}

	.structure-company-area {
		transform-origin: top left;

		.departments-area {
			display: flex;
			min-height: calc(100vh - 100px);
			padding: 0;
		}

		.structure-group {
			display: flex;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				background-color: #a6b7d4;
				height: 1px;
				top: 20px;
				left: var(--start-line);
				right: var(--end-line);
				z-index: 12;
			}
		}

		.structure-card-result {
			width: 350px;
			border-radius: 12px;
			background-color: #ebf3fb;
			border: 1px solid #d0def5;
			text-align: center;
			padding: 20px 20px 15px 20px;
			margin-top: 16px;

			.result-title {
				position: relative;
				font-weight: 600;
				font-size: 12px;
				margin-bottom: 20px;

				&:before {
					content: "";
					position: absolute;
					bottom: -10px;
					left: 50%;
					transform: translateX(-50%);
					width: 20px;
					height: 2px;
					border-radius: 10px;
					background-color: #a076f5;
				}
			}

			.result-text {
				color: #4a5568;
				font-size: 12px;
				margin: 0;
			}
		}

		.structure-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 40px 8px 0 8px;
			position: relative;
			flex-shrink: 0;

			&.lvl0 {
				& > .structure-card{
					&::before{
						display: none;
					}
				}
			}

			&.lvl1 {
				&:before {
					content: "";
					position: absolute;
					background-color: #a6b7d4;
					height: 1px;
					top: -20px;
					left: -8px;
					right: -8px;
					z-index: 12;
				}

				&:first-child {
					&:before {
						left: var(--half-width);
					}
				}
				&:last-child {
					&:before {
						right: var(--half-width);
					}
				}

				& > .structure-card {
					&:after {
						bottom: -45px;
						height: 45px;
					}
				}

				& > .structure-group {
					&:before {
						top: 45px;
					}
				}
			}

			&.lvl2 {
				margin: 90px 8px 0 8px;

				& > .structure-card {
					&:before {
						top: -45px;
						height: 45px;
					}
				}
			}

			&.lvl3 {
				.structure-card-result {
					width: 300px;
				}

				.structure-card {
					width: 300px;

					.structure-card-header {
						border-bottom: none !important;
					}

					.structure-card-body {
						padding: 0 20px 20px 20px !important;

						.director-photo {
							width: 50px !important;
							height: 50px !important;
						}
					}
				}
			}

			&.lonely {
				margin: 16px 0 0 0;
			}
		}

		.grouped {
			border-radius: 12px;

			.structure-card,
			.structure-card-result {
				width: 350px !important;
			}

			.structure-item {
				margin: 0 !important;
			}

			& > .structure-card-result {
				border-radius: 12px !important;
				margin-top: 15px !important;
				padding: 20px 20px 15px 20px !important;
			}

			& > .structure-card {
				border-radius: 12px 12px 0 0 !important;

				&:after {
					content: none;
				}
			}

			& > .structure-group {
				.structure-card {
					&:after,
					&:before {
						content: none;
					}
				}

				.structure-card,
				.structure-card-result {
					border-top: none !important;
					border-bottom: none !important;
				}

				.structure-item:last-child {
					border-bottom: 1px solid #d0def5 !important;
					border-radius: 0 0 12px 12px;

					& > div:last-child {
						border-radius: 0 0 12px 12px !important;
					}
				}
			}

			.structure-item {
				border-bottom: 1px solid #d0def5;
			}

			.structure-group {
				display: block;
			}

			.structure-card {
				border-radius: 0;
				margin: 0;

				.structure-card-header {
					border-bottom: none;
				}
			}

			.structure-card-result {
				border-radius: 0;
				margin: 0;
				padding: 0 20px 15px 20px;
			}
		}

		.structure-card {
			width: 350px;
			border-radius: 12px;
			background-color: #ebf3fb;
			border: 1px solid #d0def5;
			text-align: center;
			position: relative;
			&.ceo-card {
				background-color: #7caef3;
				color: #fff;
				box-shadow: 0px 25px 45px 0px rgba(74, 168, 255, 0.15);
				border-bottom: 3px solid #598cd9;
				p {
					color: #fff !important;
				}
				.count {
					color: #e7edf8 !important;
				}
				&:before {
					content: none;
				}
				&:after {
					bottom: -23px !important;
				}
			}

			&:before {
				content: "";
				position: absolute;
				background-color: #a6b7d4;
				width: 1px;
				height: 20px;
				top: -20px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 12;
			}

			&:after {
				content: "";
				position: absolute;
				background-color: #a6b7d4;
				width: 1px;
				height: 20px;
				bottom: -20px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 12;
			}

			&.no-result {
				&:after {
					content: none;
				}
			}

			.structure-add {
				position: absolute;
				bottom: 15px;
				right: 15px;
				font-size: 20px;
				color: green;
				cursor: pointer;
				opacity: 0;
				transform: scale(0.5);
				transition: 0.2s all ease;
			}

			&:hover {
				.structure-add {
					opacity: 1;
					transform: scale(1);
				}

				.structure-card-header {
					.structure-edit {
						opacity: 1;
						transform: scale(1);
					}
				}
			}

			.users-group {
				display: flex;
				justify-content: center;

				img {
					width: 50px;
					height: 50px;
					object-fit: cover;
					border-radius: 50%;
					position: relative;
					border: 2px solid #fff;
					margin-left: -20px;

					&:first-child {
						margin-left: 0;
					}
				}
				.user-group-more {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					position: relative;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					background-color: #e5f1ff;
					font-size: 13px;
					color: #156ae8;
					cursor: pointer;
					border: 2px solid #fff;
					margin-left: -20px;
				}
			}

			.structure-card-header {
				padding: 20px;
				border-bottom: 1px dashed #d0def5;
				position: relative;

				.structure-edit {
					position: absolute;
					top: 15px;
					right: 15px;
					font-size: 20px;
					color: #3781ef;
					cursor: pointer;
					opacity: 0;
					transform: scale(0.5);
					transition: 0.2s all ease;
				}

				&.no-body {
					border-bottom: none;
				}

				.department {
					font-weight: 500;
					font-size: 17px;
					color: #152136;

					&.is-new {
						color: #999999;
						min-height: 20px;
					}
				}

				.count {
					color: #8da0c1;
					font-size: 11px;
				}
			}

			.structure-card-body {
				padding: 15px 20px 20px 20px;

				.director-photo {
					width: 100px;
					height: 100px;
					object-fit: cover;
					border-radius: 50%;
				}



				.director-photo:hover + .additional-info {
					right: -290px;
					opacity: 1;
					visibility: visible;
				}

				.position {
					margin-top: 15px;
					color: #8da0c1;
					font-size: 13px;
					font-weight: 500;
				}

				.full-name {
					font-size: 17px;
					font-weight: 500;
					color: #156ae8;
				}
			}
		}
	}

	.additional-info {
		position: absolute;
		top: 20px;
		right: -270px;
		width: 360px;
		z-index: 22;
		padding: 20px 25px;
		display: flex;
		align-items: center;
		text-align: left;
		background-color: #fff;
		border-radius: 12px;
		border: 1px solid #a2b7d5;
		box-shadow: 0px 25px 45px 0px rgba(46, 180, 255, 0.08);
		opacity: 0;
		visibility: hidden;
		transition: 0.2s all ease;

		.addi-director-photo {
			width: 120px;
			height: 120px;
			object-fit: cover;
			border-radius: 50%;
		}

		.addi-content {
			margin-left: 15px;

			.addi-fullname {
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px dashed #d0def5;
				font-size: 15px;
				font-weight: 600;
			}

			.addi-item {
				font-size: 13px;
				margin-bottom: 5px;

				span {
					color: #8da0c1;
				}
				&.addi-email {
					color: #156ae8;
				}
			}
		}
	}
}
