.upbook-read-page {
  display: flex;
  background: #272c33;
  .pdf {
    height: 100vh;
    width: auto;
    overflow-y: auto;

    &.full {
      width: 100%;
      max-width: 100%;
    }
    &.w600 {width: 600px;}
    &.w700 {width: 700px;}
    &.w800 {width: 800px;}
    &.w900 {width: 900px;}
    &.w1000 {width: 1000px;}
    &.w1100 {width: 1100px;}
    &.w1200 {width: 1200px;}
    &.w1300 {width: 1300px;}
    &.w1400 {width: 1400px;}
    &.w1500 {width: 1500px;}
    &.w1600 {width: 1600px;}

    
  }

  .controls {
    width: 120px;
    min-height: 100vh;
    padding: 10px;
    background: #ccc;
    border-right: 1px solid #dee7ec;
  }
}
