.upbooks-page {
  .cont {
  
  }

  .box {
    width: 400px;
    height: 300px;
    display: flex;
    overflow: hidden;
    background: #f4f4f4;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0;
    border-radius: 5px;
    background-size:cover;
    background-size: 100%;
    border: 1px solid #f3f3f3;
    background-position: center;
    position: relative;
    cursor: pointer;

    &:hover {
      .right {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    .left {
      width: 200px;
      height: 100%;
      padding-right: 15px;
      background-size: cover;
      background-position: center;
    }

    .right {
      width: 200px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-bottom: 15px;
      overflow: hidden;

      p.title {
        font-size: 14px;
        margin-bottom: 5px;
      }

      p.author {
        font-size: 12px;
      }

      .text {
        margin-top: 15px;
        font-size: 10px;
      }

      .buttons {
        display: flex;

        i {
          font-size: 14px;
          background: #d2dbea;
          border-radius: 5px;
          color: #000;
          padding: 3px;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-align: center;
        }
      }
    }

    img {
      min-width: 100%;
      max-width: unset;
      height: 100%;
      margin: 0 auto;
    }
  }

  .section {
    padding: 8px 0;
    cursor: pointer;
    p {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 0;
      white-space: nowrap;
    }
    &:hover {
      p {
        display: block;
      }
      i {
        display: block;
      }
    }
    i {
      display: none;
      width: 27px;
      margin-left: 5px;
      font-size: 11px;
      padding: 5px;
      background: #dddddd;
      border-radius: 4px;
      text-align: center;
      &:hover {
        color: $hover-blue;
      }
    }
  }


  

  

}


.f-70 {
  flex: 0 0 70%;
}

.f-30 {
  flex: 0 0 30%;
}

.book-img {
  width: 100%;
  margin-left: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.book-text {
  min-height: 138px;
    font-size: 12px;
}

.right .hide {
  display: none;
}