
.upbook-read-page {

  position: relative;
  display: flex;
  background: #ffffff;

  .pdf {
    height: calc(100vh - 65px);
    width: auto;
    overflow-y: auto;
    padding: 5px;
    display:none;
    margin: 0 auto;

    &::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background: #efefef;
    }

    &.full {
      width: 100%;
      max-width: 100%;
    }

    &.show {
      display: block;
    }

    &.w600 {width: 621px;}
    &.w700 {width: 721px;}
    &.w800 {width: 821px;}
    &.w900 {width: 921px;}
    &.w1000 {width: 1021px;}
    &.w1100 {width: 1121px;}
    &.w1200 {width: 1221px;}
    &.w1300 {width: 1321px;}
    &.w1400 {width: 1421px;}
    &.w1500 {width: 1521px;}
    &.w1600 {width: 1621px;}


  }


  .test {
    width: 100%;
    position: absolute;
    left: 290px;
    z-index: 2;
    width: calc(100% - 290px);
  }

  .questions {
    height: calc(100vh - 64px);
    padding: 10px 20px;
    width: 100%;
    margin: 0!important;
    overflow: auto;
    border: 0;
    border-radius: 0px;
    box-shadow: none;

    .title {
      p {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .controls {
    flex: 0 0 290px;
    max-width: 290px;
    overflow-x: hidden;
    min-height: calc(100vh - 65px);
    padding: 10px;
    background: #fff;
    border-right: 1px solid #dee7ec;
  }

  .first-block {
    img{
      margin: 20px 0;
    }
    .zoom-items{
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        color: #8DA0C1;
        cursor: pointer;
      }
      .zero{
        margin: 0 40px;
      }
    }
    .pg-pages {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-weight: 600;
        color: #6D7C96;
        font-size: 16px;
      }

      i {
        cursor: pointer;
        color: #C6C7C9;
        width: 25px;
        height: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
          color: #3781EF;
        }
      }
    }
  }

  .chapters {
    margin-top: 40px;
    .upbook-items-title{
      font-size: 18px;
      font-weight: 600;
    }
  .upbook-items{
    border-top: 1px solid #EAEAEA;
    margin-top: 20px;
    padding-top: 20px;
  }
    .item {
      margin-bottom: 10px;
      color: #A6B7D4;
      display: flex;
      align-items: center;
      .item-text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      &.active{
        color: #000;
      }

      p {
        font-weight: 500;
        color: #A6B7D4;
      }

      &.active {
        color: #096dd9;

        p {
          color: #096dd9;
        }

      }

      &.pass {
        color: #000000;

        p {
          color: #000000;
        }
      }

    }

  }


}
