/node_modules
/public/hot
/public/files/import
/public/php.php
/public/static/partner/upload
/public/test.php
/public/users/
/public/storage
/app/Sms/.SmsKcell.php.swp
/public/bpartners/
/public/images/infobank/
/public/images/notifications/
/public/mediasend/
/public/static/profiles/
/storage/*.key
/storage
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
ansible/.venv
.env
composer.lock
/config/database.php
.htaccess
