/node_modules
/jsdoc
/public
/public/js/admino
/public/hot
/public/.htaccess
/public/files/import
/public/storage
/public/bpartners/
/public/mediasend/
/public/users_img/
/public/images/bookcovers
/public/images/infobank/
/public/images/notifications/
/public/css/app.css
/public/css/admin/app.css
/public/js/home.js
/public/js/app.js
/public/js/admino
/public/js/410.js
/public/js/494.js
/public/js/856.js
/public/static/partner/upload
/public/static/uploads
/public/static/profiles/
/public/mix-manifest.json
/storage/*.key
/storage/tenant*
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.vagrant
.env
.htaccess
.DS_Store


/deployment
/mysql