.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap:wrap;
}
.align-start {
    align-items: flex-start;
}
.align-center, .aic {
    align-items: center;
} 
.align-end {
    align-items: flex-end; 
}
.justify-start {
    justify-content: flex-start;
}
.justify-center, .jcc {
    justify-content: center;
}
.justify-between, .jcsb {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-end {
    justify-content: flex-end;
}
