@import "pages/kb.scss";
@import "pages/playlist-edit";
@import "pages/playlists";
@import "pages/upbook-read";
@import "pages/upbooks";
@import "pages/quality";
@import "pages/course-results";
@import "pages/mycourse";
@import "pages/permissions";
@import "pages/profile-edit";
@import "pages/structure";

/*
Kpi pages
*/
@import "pages/kpi/kpi-pages";
@import "pages/kpi/super-filter";
@import "pages/kpi/kpi";
@import "pages/kpi/indicators";
@import "pages/kpi/stats";
@import "pages/kpi/bonuses";
@import "pages/kpi/quartal-premium";
