.btn {
  padding: 6px 15px;
  .btn-sm{
    padding: 2px 10px;
    font-size: 13px;
  }
  &.btn-icon {
    width: 35px;
    height: 35px;
    min-width: 35px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    border: none!important;

    &.btn-success {
      background-color: transparent;
      color: #28a745;
      &:hover{
        background-color: rgba(40, 167, 69, 0.2);
      }
    }
    &.btn-danger {
      background-color: transparent;
      color: #dc3545;
      &:hover{
        color: #dc3545;
        background-color: rgba(220, 53, 69, 0.2);
      }
    }
    &.btn-primary {
      background-color: transparent;
      color: #156AE8;
      &:hover{
        background-color: rgba(21, 106, 232, 0.2);
      }
    }
    &.btn-warning {
      background-color: transparent;
      color: darken(#ffc107, 10%);
      &:hover{
        background-color: rgba(#ffc107, 0.2);
      }
    }
  }

  &.btn-primary {
    background-color: #156AE8;
  }
}


.table-actions{
  display: flex;
  align-items: center;
  .btn{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
}

.award-user-btn-tab{
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.3;
  margin-right: 30px;
  margin-top: 0;
  padding: 2rem;
  background-color: #aebee0;
  font-weight: 700;
  transition: .3s;
  &.upload{
    background-color: #156AE8;
    margin-right: 0;
    i{
      margin-right: 10px;
      font-size: 16px;
    }
  }
  &.active{
    background-color: #ed2353;
  }
  &:disabled{
    background-color: #ddd;
  }
  &:focus{
    border: none!important;
    outline: none!important;
  }
}