.glossary {

    padding: 15px;

    .buttons {

        display: flex;
        justify-content: space-between;

        .search {
            margin-right: 15px;
            width: 100%;
        }

        button {
            margin-left: 15px;
        }


    }

    .block {

        display: flex;
        align-items: flex-start;
        width: 100%;
        padding: 15px;
        border: 1px solid #efefef;

        .word {
            flex: 2;
            margin-right: 15px;
            input {
                width: 100%;
            }
        }   

        .definition {
            flex: 4;
            
            textarea {
                width: 100%;
            }
        }

        .action {
            margin-left: 15px;
        }
    }
}