.j-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  table-layout: fixed;
  font-size: 14px;


  tr th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
  }
  
  tr td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 3px 10px;
    border: 0;

    span {
      display: block;
      padding: 10px;
      border: 1px solid #ddd;
    }
  }

  .table-heading {
    background: #3498db;
    color: #fff;
  }
  
  .collapsable span {
    cursor: pointer;
    background: #2cc16a;
    transition: background .5s;
  }

  .active span {
    background: #fff;
  }

  tr.collapsable .table__wrapper {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
  }

  tr.active .table__wrapper {
    max-height: 1000px;
    transition: max-height .5s;
  }

  .table-inner {
    width: 100%;

    tr td {
      padding: 10px;
      border: 1px solid #ddd;
    }
  }



}



