.multiselect__tag {
    position: relative;
    display: inline-block;
    padding: 3px 32px 4px 10px !important;
    border-radius: 3px;
    line-height: 18px;
    margin-right: 10px;
    color: #4f4f4f;
    font-size: 14px;
    background: #e8ecee;
    margin-bottom: 5px;
    white-space: nowrap;
    font-weight: 400;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.multiselect__tag-icon {
    font-weight: 400;
    width: 28px;
    line-height: 25px;
    border-radius: 0px;

    &:hover {
        background: #8098a8;
    }

    &:after {
        font-size: 18px;
    }
}