.questions {
  padding: 30px;
  max-width: 100%;
  max-width: 1000px;
  background: #ffffff;
  border: 1px dashed  #d7d7d7;
  border-radius: 5px;

  .btn {
    padding: 5px 15px;
    margin: 0;
  }

  .jcsb {
    justify-content: space-between;
  }

  .aifs {
    align-items: flex-start;
  }

  &.hide {
    display: none;
  }
  & > .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    font-family: fantasy;
  }

  .variant {
    margin-bottom: 5px;

    input, p {
      cursor: pointer;
    }

    .right {
      color: green;

      p {
        color: green;
      }
    }

  }

  textarea {
    width: 100%;
    border: none;
    padding: 11px 11px;
    max-height: 300px;
    font-size: 14px;
    border-radius: 5px;
  }

  input[type="text"] {
    border: none;
    padding: 3px 0;
    background: transparent;
    width: 100%;
    outline: 0;
  }

  .question {
    background: #ededed;
    padding: 3px 15px;
    border-radius: 5px;
    transition: .3s ease all;

    // &.show {
    //   padding: 0;
    // }

    &:hover {
      background: #dcdee0;
    }

    .type {
      border: none;
      border-radius: 3px;
      padding: 0px 5px;
      font-size: 14px;
    }
  }

  .scores {
    max-width: 300px;
    background: aliceblue;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    font-weight: 400;
  }

  .question .title {

    p {
      font-size: 15px;
      font-weight: 600;
    }

    .wrong {
      color: red;
    }
    .right {
      color: green;
    }

    .btns {
      display: flex;
      justify-content: space-around;
    }

    input {
      font-size: 14px;
      font-weight: 600;
      width: 100%;
    }
  }

  .points {
    display: flex;
    align-items: center;
    p {
        font-weight: 600;
        margin-bottom: 0;
        margin-right: 15px;
    }
    input {
      display: block;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 15px;
      margin-top: 15px;
      width: 50px;
    }
  }

  .variants {
      margin-top: 15px;



      .variant label:hover {
        background: whitesmoke;
      }
  }
}

