.questions {
  padding: 30px;
  max-width: 100%;
  background: #ffffff;
  border: 1px dashed  #d7d7d7;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #e9ebef;
  
  .btn {
    padding: 5px 15px;
    margin: 0;
  }

  &.hide {
    display: none;
  }
  & > .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
  }

  .variant {
    margin-bottom: 5px;
  }

  textarea {
    width: 100%;
    border: none;
    padding: 11px 11px;
    max-height: 300px;
    font-size: 14px;
    border-radius: 5px;
  }

  input[type="text"] {
    border: none;
    padding: 3px 0;
    background: transparent;
    width: 100%;
  }

  .question {
    background: #ededed;
    padding: 3px 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 #ededed;

    &.show {
      padding: 15px;
    }

    &:hover {
      background: #dcdee0;
    }
    
    .type {
      border: none;
      border-radius: 3px;
      padding: 0px 5px;
      font-size: 14px;
    }
  }

  .question .title {
    

    .wrong {
      color: red;
    }
    .right {
      color: green;
    }

    .btns {
      display: flex;
      width: 100px;
      justify-content: space-around;
    }

    input {
      font-size: 14px;
      font-weight: 600;
      width: 100%;
    }
  }

  .points {
    display: flex;
    align-items: center;
    p {
        font-weight: 600;
        margin-bottom: 0;
        margin-right: 15px;
    }
    input {
      display: block;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 15px;
      margin-top: 15px;
      width: 50px;
    }
  }

  .variants {
      margin-top: 15px;

      
  }
}

