.side-menu {
  width: 70px;
  position: fixed;
  left: 0;
  height: 100vh;
  flex-direction: column;
  background: #272c33;
  border-right: 1px solid #edeff0;
  z-index: 31;
}
.side-btn {
  font-size: 24px;
  padding: 7px 4px;
  display: block;
  margin-top: 2px;
  color: #ced4e0;
  line-height: 10px;
  text-align: center;
  text-decoration: none !important;
  user-select: none;
}
.side-btn:hover,
.side-btn.active {
  color: #1176b0;
}
.side-btn span {
  font-size: 8px;
  display: block;
  line-height: 11px;
  margin-top: 6px;
  text-transform: uppercase;
}
ul.main-menu {
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin-bottom: 0;
  background: #272c33;
  height: calc(100% - 135px);
}
.main-menu::-webkit-scrollbar-track {
  width: 0;
  background-color: transparent;
}
.main-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
.after-main-menu {
  list-style-type: none;
  padding: 0;
  height: 60px;
  margin-bottom: 0;
  background: #272c33;
  position: relative;
  z-index: 2;
}

.menu-item {
  position: relative;
}
.menu-item.fixed {
  height: 55px;
}
.menu-item:hover .sub-menu {
  display: block;
  opacity: 1;
  left: 70px;
}
.sub-menu {
  display: none;
  position: absolute;
  top: 5px;

  list-style: none;
  left: 70px;
  min-width: 150px;
  border: 1px solid #1f4f6a;
  padding: 0;
  z-index: 22;
  color: #fff;
  line-height: 1.4;
  text-align: justify;
  font-size: 14px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  word-break: break-all;
  border-radius: 5px;
  transition: 0.5s ease all;
  animation: 0.5s show_sub_menu ease;
  opacity: 0;
  overflow: hidden;
}
.sub-menu li {
  margin-bottom: 0;
  padding: 0;
  width: 200px;
  list-style: none;
}
.sub-menu .link {
  font-size: 14px;
  display: flex;
  color: #fff;
  text-align: center;
  background: #272c33;
  text-decoration: none !important;
  user-select: none;
  align-items: center;
  height: auto;
  padding: 7px 10px;
  line-height: 20px;
  white-space: normal;
  margin-right: 0;
}
.sub-menu .link i {
  width: 25px;
}
.sub-menu .link span {
  font-size: 12px;
  color: #fff;
  display: block;
  margin-top: 0;
  font-weight: 300;
  margin-left: 8px;
  text-align: left;
}
.sub-menu .link:hover {
  background: #404854;
}
