.super-select {
    background: #fafafa;
    width: 400px;
    border: 1px solid #e8ecee;
    position: relative;
   // z-index: 2;
    .visible-values-text{
        line-height: 1;
        margin-top: 3px;
        font-size: 14px;
        color: #666;
    }
    &.w-full {
        width: 100% !important;
    }

    .show {
        box-shadow: 0 0px 5px 5px rgba(11, 11, 11, 0.06);
        position: absolute;
        left: 0;
        width: 100%;
        border: 1px solid #e8ecee;
        width: calc(100% + 2px);
        background: white;
        margin: 0px -1px;
        min-width: 370px;
        z-index: 22;
    }

    &.top .show {
        bottom: 100%;
    }

    &.bottom .show {
        top: 100%;
    }

    &.single .selected-items {
        min-height: 24px;
        padding: 0;

        .selected-item {
            margin: 0;

            i {
                padding: 6px;
            }
        }
    }

    .selected-items {
        display: flex;
        padding: 7px;
        overflow: overlay;
        width: 100%;
        min-height: 35px;

        .selected-item {
            display: flex;
            padding: 1px 0 1px 7px;
            background: #b5d5e5;
            margin-right: 5px;
            margin-bottom: 5px;
            align-items: center;
            flex: 0 0 auto;
            max-width: 100%;
            border-radius: 3px;

            &.value0 {background: #f89fa4;}
            &.value2 {background: #e5e49b;}
            &.value3 {background: #80d593;}

            i {
                margin-left: 5px;
                font-size: 12px;
                padding: 8px;
                cursor: pointer;

                &:hover {
                    background: rgb(32, 119, 172);
                }
            }
        }

    }

    .search {

        border-top: 1px solid #e8ecee;
        border-bottom: 1px solid #e8ecee;

        input {
            border: 0;
            width: 100%;
            padding: 5px 15px;
            font-size: 14px;
            outline: 0;
        }
    }


}

.options-window {
    position: relative;

    .types {
        position: absolute;
        left: 100%;

        .type {
            padding: 5px 10px;
            margin: 5px 0;
            cursor: pointer;
            display: flex;
            background: #acc4ce;
            border-radius: 0 50px 50px 0;
            width: fit-content;

            &.all {
                max-width: 70px;
            }

            &.active {
                background: rgb(49, 159, 255);
            }

            i {
                margin-left: 10px;
                font-size: 14px;
                width: 20px;
                text-align: center;
            }

            .text {
                width: 0;
                font-size: 12px;
                overflow: hidden;
                color: #fff;
                white-space: nowrap;
                transition: 0.4s all ease;
            }

            &:hover {
                .text {
                    width: 70px;
                }
            }
        }
    }

    .options {
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        @media screen and (max-height: 700px){
            height: 200px;
        }
        @media screen and (max-height: 500px){
            height: 150px;
        }
        .option {
            padding: 5px 15px;
            font-size: 14px;
            display: flex;
            align-items: center;
            cursor: pointer;

            i.fa:first-child {
                width: 21px;
                margin-right: 5px;
                background: grey;
                display: flex;
                height: 21px;
                color: #000;
                font-size: 11px;
                align-items: center;
                justify-content: center;
                border-radius: 18px;
            }

            i.fa-times {
                display: none;
                margin-left: auto;
            }

            &.selected {
                background: rgb(214, 228, 234);

                i.fa-times {
                    font-size: 14px;
                    display: block;
                }
            }

            &:hover {
                background: rgb(179 208 220);
            }

            &.add-option {
                color: green;

                i {
                    color: green!important;
                    background: none !important;
                }

                &:hover {
                    background: rgba(0, 128, 0, 0.2);
                }
            }
        }
    }
}
