.video-accordion {

    .group {
        height: 40px;
        overflow: hidden;
        transition: 1s ease all;

        
        .g-title {
            height: 40px;
            width: 100%;
            color: #eee;
            font-weight: 400;
            display: flex;
            padding: 5px 10px;
            background: #272c33;
            border-bottom: 1px solid #4e535b;
            align-items: center;
            justify-content: space-between;

            
            &:hover{
                background: #464c55;
            }

            .group-input {
                background: transparent;
                outline: 0 !important;
                border: 0;
                width: 100%;
            }

            .btns {
                display: flex;

                i {
                    width: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }

        .chevron,
        .chevron2 {
            transition: 0.5s ease all;
        }

        .items {
            height: 30px;
        }

        &.opened {
            height: auto;

            .g-title  {
                background: #274166;
            }

            & > .g-title .chevron {
                transform: rotate(180deg);
            }
            
        }

        .group {
            .g-title {
                padding: 5px 10px 5px 30px;
                background: #050910;
    
                
                &:hover{
                    background: #464c55;
                }
            }

            .group .g-title {
                padding: 5px 10px 5px 60px;
            }

            .group .group .g-title {
                padding: 5px 10px 5px 90px;
            }

            .group .group  .group .g-title {
                padding: 5px 10px 5px 120px;
            }

            &.opened {
                border-bottom: 1px solid #494949;

                .g-title {
                    background: #4c18d5;
                }
    
                .chevron2 {
                    transform: rotate(180deg);
                }
            }   
        }
        
       

       

    }

    .v-list {
        .more {
           
            position:relative;

            .show {
                position: absolute;
                right: 8px;
                z-index: 99999;
                top: -21px;
                display: none;
                width: 150px;
                padding: 2px 5px;
                border: 1px solid #efefef;
                border-radius: 3px;
                background: #fff;
            }

            &:hover{
                .show {
                    display: block;
                }
              
            }

            .el {
                display: flex;
                align-items: center;
                font-size: 11px;
                color: #000;

                i {
                    width: 15px;
                }
                &:hover {
                    background: #eee;
                    color: rgb(2, 107, 255);
                }
            }
        }
    }
}