.video-accordion {

    .group {
        height: 40px;
        overflow: hidden;
        transition: 1s ease all;

        
        .g-title {
            height: 40px;
            width: 100%;
            color: #eee;
            font-weight: 400;
            display: flex;
            padding: 5px 10px;
            background: #272c33;
            border-bottom: 1px solid #4e535b;
            align-items: center;
            justify-content: space-between;

            &:hover{
                background: #464c55;
            }

            .group-input {
                background: transparent;
                border: 0;
                width: 100%;
            }

            .btns {
                display: flex;

                i {
                    width: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }

        .child-group .g-title {
            padding: 5px 10px 5px 30px;
            background: #444d59;

            &:hover{
                background: #464c55;
            }
        }

        &.opened {
            .g-title  {
                background: #274166;
            }

            
        }

        .child-group.opened .g-title {
            background: #4c18d5;
        }
       
        &.opened {
            height: auto;
        }

        .items {
            height: 30px;
        }
    }
}