.course {
    input {
        border:none;
        width: 100%;
        padding: 3px 0;
    }

    .name {
        font-size: 20px;
        color: #262626;
        font-weight: 600;
        width: 100%;
    }

    .namer {
        position: relative;
        i {
            position: absolute;
            left:-20px;
            top: 10px;
            display: none;
        }   
        &:hover {
            i {
                display: block;
            }
        }
    }

    .img {
        background: #f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        min-width: 200px;
    height: 200px;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        img {
            width: 100%;
        }

        .btn {
            position: absolute;
            bottom: 15px;
            right: 15px;
        }
    }

    textarea {
        min-height: 200px;
    }
    .items {
        .title {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }

    .dragArea {
        background: #f8f8f8;
        padding: 15px 30px;
        border-radius: 5px;
        border: 1px dashed #ccc;
    }

    .chapter {
        i.fa-trash {
            display: none;
    
        }
        &:hover {
            i.fa-trash {
                display: block;
            }
        }
    }
    
}

.section:hover p {
    cursor: pointer;
}