.kpi {
    
   
    .first-column {
        width: 80px;
    }

    .super-select {

        .selected-items {
            padding: 0;
            min-height: 30px;

            .selected-item {
                margin: 0;
                min-width: 100%;
                border-radius: 0;
                justify-content: space-between;
            }
        }
       
    }
    
    select.small {
        font-size: 10px;
        padding: 9px 0px 8px;
        word-break: break-all;
        word-spacing: normal;
    }
}

.kpi-items {

}