@font-face {
  font-family: 'Panton-BlackCaps';
  src: url('../../fonts/Panton-BlackCaps.eot');
  src: url('../../fonts/Panton-BlackCaps.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Panton-BlackCaps.svg#Panton-BlackCaps') format('svg'),
       url('../../fonts/Panton-BlackCaps.ttf') format('truetype'),
       url('../../fonts/Panton-BlackCaps.woff') format('woff'),
       url('../../fonts/Panton-BlackCaps.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa&subset=latin-ext');

#sub-wrapper {
  min-height: calc(100vh - 36px);
  position: relative;
  overflow: hidden;
  width: 100%;
  .logo {
    display: table;
    text-decoration: none;
    padding: 18px 0 5px 38px;
    background: url('../../images/logou.png') 0 50% no-repeat;
    color: #dbf8ff;
    height: 50px;
    width: 200px;
    margin: 0px auto;
    text-indent: 0;
    text-align: left;
    .name{
      display:block;
      font-size: 19px;
      font-family: 'Panton-BlackCaps';
  line-height: 17px;
      span{
        font-size: 11px;
      }
    }

    .slogan{
      display:block;
      font-size:10px;
      font-family: 'Comfortaa', cursive;

    }
  }
  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../../images/bg-login.jpg") no-repeat 50% 0;
    background-size: cover;
    transform: scale(1.1);
  }

  .login {
    width: 100%;
    overflow-y: auto;
    padding: 25px 0 0;
    box-sizing: border-box;
    min-height: calc(100vh - 36px);

    .login-content {
      margin: 0 auto;
      width: 394px;
      overflow: hidden;

      .login-panel {
        padding: 22px 0;
        border-radius: 3px 3px 0 0;
        background: #202226;
        width: 100%;
        overflow: hidden;
        text-align: center;


      }
    }

    .tabset {
      padding: 10px 0;
      background: #fff;
      border-bottom: 1px solid #e8e8e8;
      width: 100%;
      overflow: hidden;
      text-align: center;
      font-size: 0;
      margin: 0;

      li {
        display: inline-block;
        vertical-align: top;
        margin: 0 50px;
        font-size: 14px;
        line-height: 24px;

        a {
          display: block;
          position: relative;
          text-decoration: none;
          color: #979797;

          &.active {
            color: #5ebee9;
          }
        }

        &:nth-child(1) {
          a {
            &:after {
              position: absolute;
              top: 0;
              right: -33px;
              content: "";
              background: url("../../images/ico-log.png") no-repeat;
              height: 25px;
              width: 25px;
            }

            &.active {
              &:after {
                background: url("../../images/ico-log-h.png") no-repeat;
              }
            }
          }
        }

        &:nth-child(2) {
          a {
            &:after {
              position: absolute;
              top: 0;
              right: -33px;
              content: "";
              background: url("../../images/ico-user.png") no-repeat;
              height: 25px;
              width: 25px;
            }

            &.active {
              &:after {
                background: url("../../images/ico-user-h.png") no-repeat;
              }
            }
          }
        }
      }
    }

    .tab-content {
      overflow: hidden;
      position: relative;

      &.transition {
        transition: height 0.5s ease;
      }

      .slide-tabset .tab {
        transform: translateY(-100%);
        transition: transform 0.5s ease;
      }

      .slide-tabset .tab.active {
        transform: translateY(0);
      }

      .fade-tabset .tab {
        opacity: 0;
        transition: opacity 0.5s ease;
      }

      .fade-tabset .tab.active {
        opacity: 1;
      }

      .tab {
        overflow: hidden;
        width: 100%;
      }

      .js-tab-hidden {
        display: block !important;
        left: -9999px !important;
        position: absolute !important;
        top: -9999px !important;
      }

      .sub-balsnse {
        margin: 0 auto;
        max-width: 1597px;
        min-width: 750px;
        overflow: hidden;
        box-sizing: border-box;
        padding: 69px 24px 0 23px;
      }

      .sub-balsnse h1 {
        margin: 0 0 48px 20px;
        font-size: 30px;
        line-height: 32px;
        color: #61bfe9;
      }

      .tabset-1 {
        margin: 0 20px 31px 15px;
      }

      .tabset-1:after {
        display: block;
        clear: both;
        content: "";
      }

      .tabset-1 li {
        float: left;
        width: 25%;
      }

      .tabset-1 a {
        display: block;
        padding: 0 10px;
        box-sizing: border-box;
        width: 100%;
        text-decoration: none;
      }

      .tabset-1 a div {
        padding: 33px 0 18px;
        background: #fff;
        box-sizing: border-box;
        box-shadow: 0 0 40px #efefef;
        text-align: center;
        overflow: hidden;
        min-height: 252px;
      }

      .tabset-1 a strong.heading {
        display: block;
        margin: 0 0 16px;
        font-size: 30px;
        line-height: 32px;
        font-weight: 300;
        color: #61bfe9;
      }

      .tabset-1 a span {
        display: table;
        margin: 0 0 12px;
        height: 100px;
        width: 100%;
      }

      .tabset-1 a span b {
        display: table-cell;
        vertical-align: middle;
      }

      .tabset-1 a span i {
        display: block;
        margin: 0 auto;
        text-indent: -9999px;
        overflow: hidden;
      }

      .item-15 {
        background: url("../images/ico-6.png") no-repeat;
        height: 80px;
        width: 88px;
      }

      .item-16 {
        background: url("../images/ico-7.png") no-repeat;
        height: 78px;
        width: 78px;
      }

      .item-17 {
        background: url("../images/ico-8.png") no-repeat;
        height: 80px;
        width: 72px;
      }

      .item-18 {
        background: url("../images/ico-9.png") no-repeat;
        height: 71px;
        width: 71px;
      }

      .tabset-1 a strong.col {
        display: block;
        font-size: 16px;
        line-height: 18px;
        min-height: 36px;
        color: #797c80;
      }

      .tabset-1 a strong.col em {
        color: #202226;
      }

      .tabset-1 a.active div {
        background: #f5f4f4;
        box-shadow: none;
      }

      .tabset-1 a.active strong.heading {
        color: #a7a7a7;
        opacity: 0.57;
      }

      .tabset-1 a.active strong.col {
        color: #797c80;
        opacity: 0.57;
      }

      .tabset-1 a.active strong.col em {
        color: #797c80;
      }

      .tabset-1 a.active .item-15 {
        background: url("../images/ico-6h.png") no-repeat;
      }

      .tabset-1 a.active .item-16 {
        background: url("../images/ico-7h.png") no-repeat;
      }

      .tabset-1 a.active .item-17 {
        background: url("../images/ico-8h.png") no-repeat;
      }

      .tabset-1 a.active .item-18 {
        background: url("../images/ico-9h.png") no-repeat;
      }

      .btn-balsnse {
        display: block;
        margin: 0 0 68px 25px;
        padding: 0 0 4px;
        background: #61bfe9;
        font-size: 18px;
        line-height: 40px;
        text-decoration: none;
        border-radius: 22px;
        text-align: center;
        transition: all 0.5s linear;
        color: #fff;
        width: 246px;
      }

      .btn-balsnse:hover {
        opacity: 0.8;
      }

      .tab-1 h2 {
        margin: 0 0 29px 25px;
        font-size: 30px;
        line-height: 32px;
        color: #61bfe9;
      }
    }

    .form-subregistration {
      padding: 20px 46px 5px;
      background: #fff;

      .form-registration-row {
        position: relative;
        margin: 0 0 6px;
        height: 40px;
        width: 100%;
        background: #f5f5f5;
        border-radius: 3px;
        box-sizing: border-box;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          content: "";
          background: #c7ead0;
          border-radius: 4px;
          width: 8px;
        }

        input {
          display: block;
          background: none;
          border: none;
          margin: 0;
          padding: 0 24px 4px;
          box-sizing: border-box;
          height: 40px;
          width: 100%;
          font: 17px/40px 'Open Sans', Arial, Helvetica, sans-serif;
          color: #202226;
        }

        select {
          display: block;
          background: none;
          border: none;
          margin: 0;
          padding: 0 24px 4px;
          box-sizing: border-box;
          height: 40px;
          width: 100%;
          font: 17px/40px 'Open Sans', Arial, Helvetica, sans-serif;
          color: #202226;
        }

        &:hover {
          &:before {
            background: #5dd279;
          }
        }
      }

      .form-registration-line {
        margin: 0 0 20px;
        padding: 5px 0 0;
        text-align: center;
        width: 100%;
        overflow: hidden;

        label {
          display: table;
          line-height: 20px;
          font-weight: normal;
          margin: 0 auto 13px;
          font-size: 12px;
        }

        a {
          color: #68cef8;
          cursor: pointer;
        }
      }
    }
  }

  .btn-form-login,
  .btn-form-registarion {
    display: block;
    margin: 0 auto 25px;
    background: #68cef8;
    border: none;
    height: 40px;
    padding: 0 25px;
    cursor: pointer;
    font: 20px/40px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    border-radius: 25px;
    outline: none;

    &:hover {
      box-shadow: 0 0 10px #68cef8;
      outline: none;
    }
  }
}

#sub-footer {
  box-sizing: border-box;
  padding: 0;
  background: #2b3c46;
  width: 100%;
  overflow: hidden;
  height: 36px;

  .navigation {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 0;
    margin: 0;
    padding: 5px 0 0;

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 17px;
      font-size: 14px;
      line-height: 26px;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .copy {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 35px;
  }
}

ul {
  list-style: none;
}

#tab-31 .form-subregistration-text {
  color: white;
  margin: 10px 0 0;
  font-size: 11px;
}

.control {
  display: block;
  position: relative;
  margin-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}

.control-checkbox {
  padding-left: 25px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #d6d6d6;
}

.control input:focus ~ .control_indicator,
.control:hover input ~ .control_indicator {
  background: #fff;
}

.control input:checked ~ .control_indicator {
  background: #fff;
}

.control input:checked:focus ~ .control_indicator,
.control:hover input:not([disabled]):checked ~ .control_indicator {}

.control input:disabled ~ .control_indicator {
  background: #2685dd;
  opacity: 0;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid #5ebee9;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

.chosen-container .chosen-results{
  max-height: 210px;
}
.chosen-container-single .chosen-single{
  height: 40px;
  line-height: 40px;
  margin-left: 8px;
  background: whitesmoke;
  border: 0;
  font: 17px/40px 'Open Sans', Arial, Helvetica, sans-serif;
  color: #202226;
  padding-left: 15px;
}
.chosen-container-single .chosen-drop{
  left: 8px;
width: calc(100% - 8px);
}
.chosen-container-single .chosen-single div b {
    background-position: 0px 9px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://cp.u-marketing.org/static/images/button.png) 95% 50% no-repeat!important;
}
select::-ms-expand {  /* для IE */
    display: none;
}
select option{
  font-size: 14px;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .control-checkbox .control_indicator::after{
    width: 7px;
    height: 12px;
  }
}
