@import "color.scss";


@font-face {
  font-family: 'Panton-BlackCaps';
  src: url('../../fonts/Panton-BlackCaps.eot');
  src: url('../../fonts/Panton-BlackCaps.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Panton-BlackCaps.svg#Panton-BlackCaps') format('svg'),
       url('../../fonts/Panton-BlackCaps.ttf') format('truetype'),
       url('../../fonts/Panton-BlackCaps.woff') format('woff'),
       url('../../fonts/Panton-BlackCaps.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


#sidebar {
  width: 62px;
  //flex-basis: 62px;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: auto;
  background-color: $color1;
  // box-shadow: 0 0 10px #202226;
  z-index: 999;

  .hrefcall {
    position: absolute!important;
    left: 60px!important;
    right: 70px!important;
    z-index: 99!important;
    padding: 0 !important;

    .callls {
      background: none!important;
    }

    .calllstwo {
      font-size: 11px;
      background: none;
      position: relative;
      top: -6px;
      left: 20px;
      background: none!important;
    }
  }

  .callpad {
    padding: 10px 32px 10px 60px!important !important;
  }

  h1 {
    display: block;
    line-height: 20px;
    border-bottom: 1px solid #2a2c30;
    text-transform: uppercase;
    color: #55575b;
    padding: 0 0 15px;
    text-align: center;
    text-indent: 0;
    font-size: 14px;
    margin: 0 0 10px;
  }

  .logo {
    display: table;
    background: url(../img/logo-1366.png) 50% 50% no-repeat;
    height: 24px;
    width: 33px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 20px auto;
    .name{
      display:none;
    }
    .slogan{
      display:none;
    }
  }

  .custom-accordion {
    padding: 0;
    margin: 0 0 10px;
    width: 60px;
    overflow: hidden;
    border-bottom: 1px solid #2a2c30;
    height: 65px;

    li {
      font-size: 14px;
      line-height: 22px;
      position: relative;
      background: $color1;

      a {
        display: block;
        text-decoration: none;
        padding: 0 32px 0 60px;
        color: $color4;
        position: relative;
        z-index: 5;

        span {
          display: block;
          position: relative;
          padding: 0 15px 0 0;
          background-image: url("../../images/plus.png");
          background-repeat: no-repeat;
          background-position: 100% 55%;
          background-size: 5%;

          &.names {
            padding: 0;
            font-size: 12px;
            background: none;
            left: 20px;
            line-height: 12px;
          }
        }

        &.item-2:after {
          position: absolute;
          top: 0;
          left: 19px;
          content: "";
          background: url("../../images/item-2.png") no-repeat;
          background-size: 22px 18px;
          height: 18px;
          width: 22px;
        }

        &.item-8:after {
          position: absolute;
          top: 0;
          left: 15px;
          content: "";
          background: url("../../images/item-8.png") no-repeat;
          background-size: 30px 30px;
          height: 30px;
          width: 30px;
        }

        &.item-7:after {
          position: absolute;
          top: 0;
          left: 20px;
          content: "";
          background: url("../../images/item-6.png") no-repeat;
          background-size: 20px 20px;
          height: 20px;
          width: 20px;
        }

        &.item-71:after {
          position: absolute;
          top: 0;
          left: 20px;
          content: "";
          background: url("../../images/item-71.png") no-repeat;
          background-size: 20px 20px;
          height: 20px;
          width: 20px;
          opacity: 0.3;
        }

        &.item-selected,
        &:hover {
          color: $color2;

          &.item-2:after {
            background: url("../../images/item-2h.png") no-repeat;
            background-size: 22px 18px;
          }

          &.item-8:after {
            background: url("../../images/item-8h.png") no-repeat;
            background-size: 30px 30px;
          }

          &.item-7:after {
            background: url("../../images/item-6h.png") no-repeat;
            background-size: 20px 20px;
          }

          &.item-71:after {
            background: url("../../images/item-71.png") no-repeat;
            background-size: 25px 25px;
            opacity: 1
          }
        }
      }

      .slide-ac {
        opacity: 0;
        position: relative;
        height: 0;
        transition: all 100ms linear;

        ul {
          li {
            a {
              color: $color4;

              &:hover {
                color: $color2;
              }
            }
          }
        }
      }

      &.active {
        .slide-ac {
          margin: 0;
          opacity: 1;
          height: auto;
        }

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          content: "";
          background: $color2;
          width: 3px;
        }

        ul {
          padding: 16px 0 0 45px;
          list-style: none;

          li {
            font-size: 11px;
            margin-bottom: 10px;
            line-height: 16px;

            a {
              display: block;
              z-index: 5;
              color: #9398a2;
              padding: 0 10px 0 15px;
              position: relative;
              background-image: url("../../images/arrow.png");
              background-repeat: no-repeat;
              background-position: 0 50%;
              background-size: 2%;

              &.item-selected,
              &:focus,
              &:hover {
                color: #5ebee9;
                background-image: url("../../images/arrow-2.png");
                background-repeat: no-repeat;
                background-position: 0 50%;
                background-size: 2%;
              }
            }

            &.current {
              a {
                color: $color3;
              }
            }
          }
        }

        a {
          color: $color2;

          &.item-2:after {
            background: url("../../images/item-2h.png") no-repeat;
            background-size: 22px 18px;
          }

          &.item-8:after {
            background: url("../../images/item-8h.png") no-repeat;
            background-size: 30px 30px;
          }

          &.item-7:after {
            background: url("../../images/item-6h.png") no-repeat;
            background-size: 20px 20px;
          }

          span {
            background-image: url("../../images/minus.png");
            background-repeat: no-repeat;
            background-position: 100% 55%;
            background-size: 5%;

            &.names {
              background: none;
            }
          }
        }
      }
    }

    > li {
      padding: 14px 0;
    }
    &.intellect-files {
      a.hrefcall:hover {
          color:#ff641a;
       
      }
    }
    &.intellect-files,
    &.service-files {
      > li {
        position: relative;
        display: block;
        width: 60px;


      }

      .slide-ac {
        margin: 10px 0 0;
      }

      li {
        &:hover a.item-71:after {
          background: url("../../images/item-71.png") no-repeat;
          background-size: 25px 25px;
          opacity: 1
        }
        
        a {
          &.item-7,
          &.item-71 {
            &:after {
              position: absolute;
              top: -5px;
              left: 18px;
              content: "";
              background: url("../../images/item-8.png") no-repeat;
              background-size: 25px 25px;
              height: 25px;
              width: 25px;
            }
          }
          &.item-71 {
            &:after {
              background: url("../../images/item-71.png") no-repeat;
              background-size: 25px 25px;
              opacity: 0.3;
              filter: grayscale(1)
            }
          }
          &.item-selected,
          &:focus,
          &:hover {
            color: #d632e9;

            &.item-7:after {
              background: url("../../images/item-8h.png") no-repeat;
              background-size: 25px 25px;
            }

            &.item-71:after {
              background: url("../../images/item-71.png") no-repeat;
              background-size: 25px 25px;
              opacity: 1;
              filter: grayscale(0)
            }
            
          }

          span {
            .playvideo {
              &:after {
                content: "\f144";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                right: 0;
                top: 5px;
              }

              &:focus,
              &:hover {
                color: white;
                cursor: pointer;

                &:after {
                  color: white;
                  cursor: pointer;
                }
              }
            }
          }
        }

        &.active {
          ul {
            li {
              a {
                &.item-selected,
                &:focus,
                &:hover {
                  background-image: url("../../images/arrow-2cal.png");
                  background-repeat: no-repeat;
                  background-position: 0 50%;
                  background-size: 2%;
                }
              }
            }
          }

          &:after {
            background: #d632e9;
          }

          > a {
            color: #d632e9;

            &:after {
              background: url("../../images/item-8h.png") no-repeat;
              background-size: 25px 25px;
            }

            span {
              background-image: url("../../images/minuscal.png");
              background-repeat: no-repeat;
              background-position: 100% 55%;
              background-size: 5%;
            }
          }

          .slide-ac {
            margin: 10px 0 0;

            a {
              &.item-selected,
              &:focus,
              &:hover {
                color: #d632e9;
              }
            }
          }
        }
      }
    }

    &.rent_numbers {
      > li {
        position: relative;


      }

      .slide-ac {
        margin: 10px 0 0;
      }

      li {
        a {
          &.item-7 {
            &:after {
              position: absolute;
              top: -5px;
              left: 18px;
              content: "";
              background: url("../../images/callback1.png") 50% 50% no-repeat;
              height: 25px;
              width: 25px;
            }
          }

          &.item-selected,
          &:focus,
          &:hover {
            color: #d632e9;

            &.item-7:after {
              background: url("../../images/callback2.png") 50% 50% no-repeat;
            }
          }

          span {
            .playvideo {
              &:after {
                content: "\f144";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                right: 0;
                top: 5px;
              }

              &:focus,
              &:hover {
                color: white;
                cursor: pointer;

                &:after {
                  color: white;
                  cursor: pointer;
                }
              }
            }
          }
        }

        &.active {
          ul {
            li {
              a {
                &.item-selected,
                &:focus,
                &:hover {
                  background-image: url("../../images/arrow-2cal.png");
                  background-repeat: no-repeat;
                  background-position: 0 50%;
                  background-size: 2%;
                }
              }
            }
          }

          &:after {
            background: #d632e9;
          }

          > a {
            color: #d632e9;

            &:after {
              background: url("../../images/callback2.png") 50% 50% no-repeat;
            }

            span {
              background-image: url("../../images/minuscal.png");
              background-repeat: no-repeat;
              background-position: 100% 55%;
              background-size: 5%;
            }
          }

          .slide-ac {
            margin: 10px 0 0;

            a {
              &.item-selected,
              &:focus,
              &:hover {
                color: #d632e9;
              }
            }
          }
        }
      }
    }

    &.partner {
      li {
        a {
          &.item-7 {
            &:after {
              position: absolute;
              top: 0;
              left: 20px;
              content: "";
              background: url("../../images/partner.png") no-repeat;
              background-size: 20px 20px;
              height: 20px;
              width: 20px;
            }
          }

          &.item-selected,
          &:focus,
          &:hover {
            color: #96da34;

            &.item-7:after {
              background: url("../../images/partnerр.png") no-repeat;
              background-size: 20px 20px;
            }
          }
        }

        &.active {
          ul {
            li {
              a {
                &.item-selected,
                &:focus,
                &:hover {
                  background-image: url("../../images/arrow-2part.png");
                  background-repeat: no-repeat;
                  background-position: 0 50%;
                  background-size: 2%;
                }
              }
            }
          }

          &:after {
            background: #96da34;
          }

          > a {
            color: #96da34;

            &:after {
              background: url("../../images/partnerр.png") no-repeat;
              background-size: 20px 20px;
            }

            span {
              background-image: url("../../images/minuspart.png");
              background-repeat: no-repeat;
              background-position: 100% 55%;
              background-size: 5%;
            }
          }

          .slide-ac {
            a {
              &.item-selected,
              &:focus,
              &:hover {
                color: #96da34;
              }
            }
          }
        }
      }
    }

    &.rassylki {
      li {
        a {
          span {
            .playvideo {
              &:after {
                content: "\f144";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                right: 15px;
                top: 5px;
              }

              &:focus,
              &:hover {
                color: white;
                cursor: pointer;

                &:after {
                  color: white;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }

  .opener {
    position: relative;
    z-index: 555;

    span {
      width: 18px;
      height: 14px;
      background-size: cover;
      margin: 0 25px 0 0;
      float: right;
      background: url("../../images/backspace-arrow.png") no-repeat;
      text-indent: -9999px;
      overflow: hidden;
      transform: rotate(180deg);
    }

    em {
      display: none;
      width: 18px;
      height: 14px;
      background-size: cover;
      margin: 0 30px 0 0;
      float: right;
      background: url("../../images/backspace-arrow.png") no-repeat;
      text-indent: -9999px;
      overflow: hidden;
    }
  }

  #contacts {
    padding: 0 10px 0 20px;
    bottom: 0;
    text-align: left;
    color: #9398a2;
    position: fixed;

    &.cl {
      position: static;
      margin: 50px 0 0;
    }

    > p {
      padding-bottom: 10px;
      padding-left: 24px;
      margin: 0;
    }

    p {
      text-indent: -9999px;
    }

    a {
      display: block;
      width: auto;
      color: #9398a2;
      font-size: 13px;
      text-decoration: none;

      p {
        margin: 0;
      }

      &.skype {
        background: url("../../images/skype-logo.png") no-repeat;
        background-size: 14px 14px;
        background-position: 2px 4px;
        padding-left: 24px;
        margin-bottom: 5px;
        overflow: hidden;
      }

      &.call {
        background: url("../../images/speech-bubble.png") no-repeat;
        background-size: 15px 15px;
        background-position: 2px 2px;
        padding-left: 24px;
        margin-bottom: 5px;
        overflow: hidden;
      }
    }
  }

  &.active {
    width: 240px;
    //  flex: 0 1 240px;
    #contacts {
      padding: 0 10px 0 50px;

      p {
        text-indent: 0;
      }
    }

    .custom-accordion {
      width: 100%;
      height: auto;

      &.service-files{
        >li{
          display: table;
          width: 100%;
          a span .playvideo:after{
                right: -24px;
          }
        }
      }
    }

    .opener {
      span {
        display: none;
      }

      em {
        display: block;
      }
    }

    .logo {
      display: table;
      text-decoration: none;
      padding: 18px 0 5px 38px;
      background: url('../../images/logou.png') 0 50% no-repeat;
      color: #dbf8ff;
      height: 50px;
      width: 200px;
      margin: 20px auto;
      text-indent: 0;
      .name{
        display:block;
        font-size: 19px;
        font-family: 'Panton-BlackCaps';
    line-height: 17px;
        span{
          font-size: 11px;
        }
      }

      .slogan{
        display:block;
        font-size:10px;
        font-family: 'Comfortaa', cursive;

      }
    }
  }
}
