// @font-face {
//     font-family: 'Open Sans';
//     font-weight: 400;
//     src: url(/admin/fonts/lucida/LucidaGrande.ttf);
// }

// @font-face {
//     font-family: 'Open Sans';
//     font-weight: 700;
//     src: url(/admin/fonts/lucida/LucidaGrandeBold.ttf);
// }

.font-xs {
    font-size: 12px;
}
.font-sm {
    font-size: 14px;
}
.font-md {
    font-size: 16px;
}
.font-lg {
    font-size: 18px;
}
.font-xl {
    font-size: 24px;
}