/** quiz */
.question-wrap {
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #e1e1e1;
    p {
        color: #045e92;
    }
}

@media (min-width: 1200px) {
    .question-wrap {
        width: 48%;
        width: calc(50% - 10px);
        &:nth-child(2n) {
            margin-left: 10px;
        }
        &:nth-child(2n + 1) {
            margin-right: 10px;
        }
    }
}