@font-face {
  font-family: 'Icons';
  src: url('../fonts/Icons.ttf?ol5jiq') format('truetype'),
  url('../fonts/Icons.woff?ol5jiq') format('woff'),
  url('../fonts/Icons.svg?ol5jiq#Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icon-nd';
  src: url('../fonts/Icon-nd/font/icon-nd.eot?91843756');
  src: url('../fonts/Icon-nd/font/icon-nd.eot?91843756#iefix') format('embedded-opentype'),
       url('../fonts/Icon-nd/font/icon-nd.woff2?91843756') format('woff2'),
       url('../fonts/Icon-nd/font/icon-nd.woff?91843756') format('woff'),
       url('../fonts/Icon-nd/font/icon-nd.ttf?91843756') format('truetype'),
       url('../fonts/Icon-nd/font/icon-nd.svg?91843756#icon-nd') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'course-icons';
  src: url('../fonts/course-icons/font/course-icons.eot?24595367');
  src: url('../fonts/course-icons/font/course-icons.eot?24595367#iefix') format('embedded-opentype'),
       url('../fonts/course-icons/font/course-icons.woff2?24595367') format('woff2'),
       url('../fonts/course-icons/font/course-icons.woff?24595367') format('woff'),
       url('../fonts/course-icons/font/course-icons.ttf?24595367') format('truetype'),
       url('../fonts/course-icons/font/course-icons.svg?24595367#course-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-nav-9:before {
  content: "\e908";
  color: #8d9ca9;
}
._icon-nav-3:before {
  content: "\e900";
  color: #8d9ca9;
}
._icon-nav-4:before {
  content: "\e901";
  color: #8d9ca9;
}
._icon-nav-5:before {
  content: "\e902";
  color: #8d9ca9;
}
._icon-nav-6:before {
  content: "\e903";
  color: #8d9ca9;
}
._icon-nav-7:before {
  content: "\e904";
  color: #8d9ca9;
}
._icon-nav-8:before {
  content: "\e905";
  color: #8d9ca9;
}
._icon-nav-1:before {
  content: "\e906";
  color: #8d9ca9;
}
._icon-nav-2:before {
  content: "\e907";
  color: #8d9ca9;
}


[class^="icon-nd-"]:before,
[class*=" icon-nd-"]:before,
[class^="icon-ci-"]:before,
[class*=" icon-ci-"]:before {
  font-family: "icon-nd";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
[class^="icon-ci-"]:before,
[class*=" icon-ci-"]:before{
  font-family: "course-icons";
}

.icon-nd-analytics:before { content: '\e800'; } /* '' */
.icon-nd-books:before { content: '\e801'; } /* '' */
.icon-nd-courses:before { content: '\e802'; } /* '' */
.icon-nd-dashboard:before { content: '\e803'; } /* '' */
.icon-nd-hr:before { content: '\e804'; } /* '' */
.icon-nd-enter-time:before { content: '\e805'; } /* '' */
.icon-nd-quality:before { content: '\e806'; } /* '' */
.icon-nd-salary:before { content: '\e807'; } /* '' */
.icon-nd-tabel:before { content: '\e808'; } /* '' */
.icon-nd-more:before { content: '\e809'; } /* '' */
.icon-nd-video:before { content: '\e80a'; } /* '' */
.icon-nd-education:before { content: '\e80b'; } /* '' */
.icon-nd-kdb:before { content: '\e80c'; } /* '' */
.icon-nd-profile:before { content: '\e80d'; } /* '' */
.icon-nd-questions:before { content: '\e80e'; } /* '' */
.icon-nd-reports:before { content: '\e80f'; } /* '' */
.icon-nd-settings:before { content: '\e810'; } /* '' */
.icon-nd-struct:before { content: '\e811'; } /* '' */
.icon-nd-u-calls:before { content: '\e812'; } /* '' */
.icon-nd-kk:before { content: '\e813'; } /* '' */
.icon-nd-map:before { content: '\e814'; } /* '' */
.icon-nd-deduction:before { content: '\e815'; } /* '' */
.icon-nd-kpi:before { content: '\e816'; } /* '' */
.icon-nd-news:before { content: '\e817'; } /* '' */

.icon-ci-play:before { content: '\e800'; } /* '' */
.icon-ci-book:before { content: '\e801'; } /* '' */
.icon-ci-database:before { content: '\f1c0'; } /* '' */
