.intro{

  .content{
    margin-top: 3.5rem;
  }
  &.content{
    margin-top: 3rem;
  }
}


.intro__top{
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-bottom: 1px solid #edeff3;
  gap:2rem;
  overflow-x: auto;
  overflow-y:visible;
  &::-webkit-scrollbar {
    width: 0; /* высота для горизонтального скролла */
  }
}
.intro__top-buttons{
  display: flex;
  gap:1rem;
  font-size:1.4rem;
  min-width:75rem;
  text-overflow: ellipsis;




}
.intro__button{
  transition:.3s;

  &:hover{
    transform: translateY(-2px);
  }
}

.intro__top-burger{
  width: 4rem;
  height: 4rem;
  display: none;
  transition:.2s;

  &:hover{
    transform: scale(1.05);
  }
}
.intro__stats{
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

._active .stat__item{
  opacity:1;
  transform:translateY(0);
  visibility: visible;
}
.IntroStats .FlipCard{
  flex: 0 0 19rem;
}
.stat__item{
  cursor:pointer;
  flex: 0 0 19rem;
  display: flex;
  flex-direction: column;
  padding: 0 1.8rem 2.5rem;
  align-items: center;
  min-height: 23.7rem;
  background-color: #fff;
  border-radius:1.2rem;
  background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='98%' height='98%' x='1%' y='1%' ry='12%' rx='12%' style='fill: none; stroke: %23D9D9D9; stroke-width: 1; stroke-dasharray: 8'/></svg>");
  font-size:1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  transition: 1s .5s;
  opacity:0;
  visibility: hidden;
  transform:translateY(20px);

  &:nth-child(1){
    transition: 1s .5s;
  }
  &:nth-child(2){
    transition: 1s .7s;
  }
  &:nth-child(3){
    transition: 1s .9s;
  }
  &:nth-child(4) {
    transition: 1s 1.1s;
  }
  &:nth-child(5){
      transition: 1s 1.3s;
    }
  .stat__name{
    color:#363636;
  }
  .stat__image{
    width: 100%;
    max-width: 13.3rem;
    height: 13rem;
    display: block;
    position:relative;
    z-index: 1;
    margin: 2.5rem auto 0;
    img{
      object-fit: cover;
      width: 100%;
      display: block;
      height: 100%;
    }
  }
  .front, .back{
    position:absolute;
    display: block;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .front{
    overflow:hidden;

    img{
      position:absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      min-width: 620px;
      min-height: 620px;
      background-color: #FCFFF5;
      animation-name: rotate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }


    &:before {
      top: -66rem;
      //bottom: 15vh;
      border-radius: 45%;
      animation-duration: 12s;
    }

    &:after {
      top: -62rem;

      //bottom: 12vh;
      opacity: .5;
      border-radius: 47%;
      animation-duration: 12s;
    }
  }


  @media(min-width:1200px){
    .front{
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        min-width: 623px;
        min-height: 623px;
        background-color: #FCFFF5;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
    .stat__item .front:after{
      top: -61rem;
    }
  }

  @keyframes rotate {
    0% {transform: translate(-50%, 0) rotateZ(0deg);}
    50% {transform: translate(-50%, 0%) rotateZ(180deg);}
    100% {transform: translate(-50%, 0%) rotateZ(360deg);}
  }

  .back img{
    opacity:.5;
    filter: grayscale(1);
      position:absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      vertical-align: middle;
  }

  .stat__about{
    margin-top: auto;
  }

  .stat__value{
    color:#C4C4C4;

    &.active{
      color:#8974E9;
    }
  }

}

.intro__table{
  transition-delay: 1s;
  margin-top: 4rem;
  background-color: #F8F9FD;
  padding: 0 1.4rem 2rem;
  border-radius:2rem;

  &-title{
    font-size:1.7rem;
    padding-top: 1.8rem;
   padding-bottom: 1.5rem;
    font-weight: 600;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color:#62788B;
  }


  table{
    border: 1px solid #E7EAEA;
    text-align: center;
    border-radius:2rem 2rem 0 0;
    border-spacing: 0;




    th{
      border: 1px solid #E7EAEA;
      color:#62788B;
      background: #F5F7FC;
      font-size:1.2rem;
      font-weight: 600;


    }

    tr th:first-child{
      border-radius: 2rem 0 0 0;
    }
    tr th:last-child{
      border-radius:0 2rem 0 0;
    }
    td{
      border: 1px solid #E7EAEA;
      color:#BCBCBC;
      background: #fff;
      font-size:1.1rem;
      padding: 1.5rem 1.3rem 1rem;

      p{
        margin-bottom: 1rem;
      };
    }
  }

}


@media(max-width:1200px){
  .intro__stats{
    gap: 2rem;
   flex-wrap:wrap;
    justify-content: center;

  }
  .IntroStats .FlipCard{
    flex: 0 0 25rem;
  }
  .stat__item{
    flex: 0 0 25rem;

  }
  .intro__top-buttons{
    gap:.75rem;
    font-size:1.2rem;
  }
  .intro__table{
    padding-bottom: 1rem;
    padding-right: 0;
  }

    .intro__table-inner {
      padding-bottom: 2rem;
      width: 100%;
      overflow-x: auto;
      scrollbar-color: #ECF0F9 #AEBEE0;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        height: 8px; /* высота для горизонтального скролла */
        background-color: #ECF0F9;
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #AEBEE0;
        border-radius: 1rem;
      }


    }
}

@media(max-width:1100px){
  .intro__top-buttons{

    font-size:1.1rem;
  }
}


@media(max-width:900px){
  .intro__top-burger{
    display: none;
  }

}


@media(max-width:800px){
  .IntroStats .FlipCard{
    flex: 0 0 13rem;
  }
  .stat__item{
    min-height: 16rem;
    flex: 0 0 13rem;
    font-size:1.1rem;
    padding: 0 1.2rem 1.8rem;
  }
  .stat__item .stat__image{
    width: 8.2rem;
    height: 8rem;
  }


}


@media(max-width:700px){
  .intro__top {
    display: none;
  }
}
@media(max-width:440px){
  .intro__stats{
    gap:1rem;
    padding-top: 2rem;
  }
  .intro.content{
    margin-top: 2rem;
  }
  .intro__table{
    margin-top: 3rem;
  }




}
@media(max-width:440px){
  .intro__table-title{
    font-size:1.4rem
  }
}




@media(min-width:1910px) {
  .intro__stats {
    gap: 4.5rem;
  }

  .intro__top-burger {
    display: none;
  }
  .intro__table tr{
    height: 4rem;
  }
}


@media(min-width:1360px){
  .intro.content{
    padding-right: 0;
  }
  .intro__stats {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    gap: 2rem;
    justify-content: unset;
    overflow-y:hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 6px; /* высота для горизонтального скролла */
      background-color: #ECF0F9;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #AEBEE0;
      border-radius: 1rem;
    }
  }
  .intro__table-inner {
    padding-bottom: 2rem;
    width: 100%;
    overflow-x: auto;
    scrollbar-color: #ECF0F9 #AEBEE0;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      height: 8px; /* высота для горизонтального скролла */
      background-color: #ECF0F9;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #AEBEE0;
      border-radius: 1rem;
    }


  }
  .intro__top-burger{
    display: none;
  }
}

@media(min-width:1360px) and (max-width: 1639px) {
  .intro__stats {
    gap: 2.5%;
  }
  .IntroStats .FlipCard{
    flex: 0 0 17.5%;
  }
  .stat__item {
    flex: 0 0 17.5%;
  }
}

@media(min-width:1640px){
  .intro.content{
    padding-right: 2rem;
  }
}
