/*Normalize styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}
html{
  overflow-x:hidden;
  -webkit-appearance: none;
  scrollbar-color: #AEBEE0 #ECF0F9 ;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px; /* высота для горизонтального скролла */
    background-color: #ECF0F9;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #AEBEE0;
    border-radius: 1rem;
  }
}




body {
  font-family: 'Inter', sans-serif;
  // overflow-x:hidden;
  // overflow-y:hidden;
  height: 100%;
  width: 100%;
  font-weight:400;
  line-height: 1;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  scrollbar-color: #AEBEE0 #ECF0F9 ;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px; /* высота для горизонтального скролла */
    background-color: #ECF0F9;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #AEBEE0;
    border-radius: 1rem;
  }

}


input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
label{
  display:block;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  font-size:inherit;
  text-decoration: none;

}

a:hover {
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  line-height: normal;
}
div{
  margin: 0;
  padding: 0;
  // line-height: normal; for new design, but error in old templates
}
p{
  margin: 0;
  padding: 0;
  line-height: normal;
}
