.trainee{
  margin-top: 5rem;
}


.trainee__table{
  background: #F8F9FD;
  padding: 3rem 0 5rem 3.8rem;
  border-radius: 1.5rem 1.5rem 0 0;


}
.trainee__table-name{
  font-family: "Open Sans",sans-serif;
  margin-bottom: 2rem;
  font-size:1.8rem;
  color:#5B6166;
  font-weight: 600;
}
.tabs__wrapper{
  display: flex;
  gap:4rem;
  width: 100%;
  border-top: 1px solid #ededed;

}
.tab__item{
  margin-top: .1rem;
  line-height: 2em;
  color: #8D8D8D;
  font-size:1.7rem;
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  transition:color .3s;
  padding-top: 1.5rem;
  cursor: pointer;
  &:hover{
    color:#ED2353;
  }
  &.is-active{
    border-top: 4px solid #ED2353;
    color:#ED2353;
  }
}
.tab__item-include{
  margin-top: 2rem;
  color: #FFFFFF;
  font-size:1.4rem;
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  padding: 2rem;
  background: #AEBEE0;
  cursor: pointer;
  transition:.3s;
  &:hover{
    background: #ED2353;
  }
  &.is-active{
    background: #ED2353;
  }
}

table {

}
.tab__content .tab__content-item {
  display: none;
}

.tab__content .tab__content-item.is-active {
  display: block;
}

.tab__content-include .tab__content-item-include {
  display: none;
}

.tab__content-include .tab__content-item-include.is-active {
  display: block;
}

.tabs{
  overflow-x:auto;
  padding-bottom: 2.7rem;

}

.trainee__content{
  margin-top: 3rem;



  table{
    border-bottom:0;
    border-left:0;
    border-spacing: 0px;
    padding-right: 3.5rem;
    border-radius: 1.2rem 1.2rem 0 0;

    td{
      border: 1px solid #E7EAEA;
      font-size:1.2rem;
      height: 4rem;
      background: #fff;
      
      &.top {
        vertical-align: top;
      }
      &.none{
        border:none;
        background: none;
      }
    }
    th{
      font-size:1.3rem;
      color:#62788B;
      font-weight: 600;
      height: 4rem;
      border: 1px solid #E7EAEA;
      text-align: center;
    }
    th:first-child{
      border-radius:1.2rem 0 0 0;
    }
    th:last-child{
      border-radius:0 1.2rem 0 0;
    }
  }

  .colored{
    width: 24rem;
    min-height:4rem;
    text-align: center;
    padding: 1.2rem 1.5rem;
    position:relative;
    z-index: 1;





    .text{
      position:relative;
      z-index: 3;
      font-size:1.2rem;
      color:#62788B;
      text-align: left;

    }

  }
  .value{
    display: inline-block;
    margin-left: 1rem;
  }
  .star-done-img{
    display: none;
  }
  .trainee__star-value{
    margin-bottom: 1.1rem;
    font-size:1.2rem;
    font-weight: 700;
  }

  .trainee__star-wrapper{
    display: flex;
    gap: .8rem;

    img{
      width: 1.4rem;
      height: auto;
      flex: 0 0 1.4rem;
    }
  }

  .trainee-star{
    min-height: 15.7rem;
    padding: 1.3rem 1.4rem;
  }
  .star__item.done{
    img:first-child{
      display: none;
    }
    .star-done-img{
      display: block;
    }
  }

  .trainee__review{
    padding: 1.5rem;
    font-size:1.2rem;
    width: 33.4rem;
    p {
      padding-bottom: .4rem;
      color:#62788B;
    }
  }


  table.invite{
    margin-top: 2rem;
    td{
      width: 12rem;
      text-align: center;
      background: #fff;
      color:#62788B;
    }
    th {
      background: #fff;
      min-width: 12rem;
      font-size:1.2rem;
      font-weight: 600;
    }

    .first-td{
      background: #F5F7FC;
      min-width: 45.7rem;
      font-weight: 600;

    }
  }


}
.trainee .tabs{
  padding-bottom: 4rem;
}
.trainee__table{
  padding-bottom: 2rem;
}
.trainee-select.select-css{
  display: none;
}

@media(max-width:440px){
  .trainee-select.select-css{
    display: block;
    max-width: 27rem;
    margin-left: 0;
  }
  .trainee__tabs{
    display: none;
  }
  .trainee{
    margin-top: 4rem;
  }
  .trainee__table-name{
    margin-bottom: 0;
  }
  .trainee__table{
    padding: 3rem 0 2rem 1.8rem;
  }
}

@media(min-width:1920px){
  .trainee{
    margin-top: 6rem;
  }
}

@media(min-width:2100px){
  .trainee__content .trainee__review{
    width: 51.2rem;
  }
}