.workshop {
	font-size: 25px;
	min-height: 100vh;
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1%;
	button {
    margin-top: 2%;
    padding: 1%;
		width: 450px;
		background-color: #fcff33;
		color: rgb(0, 0, 0);
		border-radius: 10px;
		transition: all ease 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    img {
      border-radius: 50%;
    }
		&:hover {
			background-color: #d0d304;
		}
		&:focus {
			outline: none;
		}
		a {
			color: white;
		}
	}

  @media (max-width: 430px) {
    button {
      font-size: 25px;
      color: red;
    }
  }
}