%center-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workshop {
  font-size: 30px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-container {
    width: 500px;
    height: 500px;
    background-color: #d00000;
    border-radius: 15px;
    padding: 1%;
  }
}
