.workshop {
	font-size: 25px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1%;
	button {
		width: 450px;
		background-color: #33b4ff;
		padding: 5%;
		color: white;
		border-radius: 10px;
		transition: all ease 100ms;
		&:hover {
			background-color: #0193e8;
		}
		&:focus {
			outline: none;
		}
		a {
			color: white;
		}
	}
}