@import './app.variables';

@font-face {
	font-family: 'Gotham Pro Regular';
	src: url("assets/fonts/GothamPro.eot");
	src: local('Gotham Pro'), local('GothamPro'), url("assets/fonts/GothamPro.eot?#iefix") format('embedded-opentype'), url("assets/fonts/GothamPro.woff") format('woff'), url("assets/fonts/GothamPro.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
	font-family: 'Gotham Pro Medium';
	src: url("assets/fonts/GothamPro-Medium.eot");
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'), url("assets/fonts/GothamPro-Medium.eot?#iefix") format('embedded-opentype'), url("assets/fonts/GothamPro-Medium.woff") format('woff'), url("assets/fonts/GothamPro-Medium.ttf") format('truetype');
	font-weight: 500;
	font-style: normal;
	font-family: 'Gotham Pro Bold';
	src: url("assets/fonts/GothamPro-Bold.eot");
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'), url("assets/fonts/GothamPro-Bold.eot?#iefix") format('embedded-opentype'), url("assets/fonts/GothamPro-Bold.woff") format('woff'), url("assets/fonts/GothamPro-Bold.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}
:root {
	* {
		box-sizing: border-box;
	}
}
body {
	font-size: 16px;
	color: #252525;
	line-height: 1.25;
}
input,
button {
	font-family: $font-stack;
}
#app {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	font-family: $font-stack;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.jHeader {
	font-size: 1.75rem;
	line-height: 1;
	font-weight: 700;
	text-align: center;
}
.jButton {
	display: block;
	width: fit-content;
	padding: 0.875rem 1.1875rem;
	outline: none;
	border: none;
	border-radius: 3.125rem;
	background-color: $button-color;
	font-size: 1.125rem;
	line-height: 1;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	&:disabled {
		background: #f0f9ff;
		color: #b1acc1;
		cursor: default;
	}
	&:hover {
		background: $button-color-hover;
	}
}
.section-content {
	width: 78.125rem;
	max-width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
}
.ancor {
	display: block;
	height: 0;
	position: relative;
	top: -6rem;
}

@media screen and (min-width: $small) {
	.JHeader {
		font-size: 2.5rem;
    }
}

@media screen and (min-width: $medium) {
	.section-content{
		padding: 0 0.75rem;
	}
}

@media screen and (min-width: $large) {
    html, body {
        font-size: 32px;
    }
}


// utils
.fw100{
	font-weight: 100;
}
.fw200{
	font-weight: 200;
}
.fw300{
	font-weight: 300;
}
.fw400{
	font-weight: 400;
}
.fw500{
	font-weight: 500;
}
.fw600{
	font-weight: 600;
}
.fw700{
	font-weight: 700;
}
.fw800{
	font-weight: 800;
}
.fw900{
	font-weight: 900;
}