
.icon-nd-analytics:before { content: '\e800'; } /* '' */
.icon-nd-books:before { content: '\e801'; } /* '' */
.icon-nd-courses:before { content: '\e802'; } /* '' */
.icon-nd-dashboard:before { content: '\e803'; } /* '' */
.icon-nd-hr:before { content: '\e804'; } /* '' */
.icon-nd-enter-time:before { content: '\e805'; } /* '' */
.icon-nd-quality:before { content: '\e806'; } /* '' */
.icon-nd-salary:before { content: '\e807'; } /* '' */
.icon-nd-tabel:before { content: '\e808'; } /* '' */
.icon-nd-more:before { content: '\e809'; } /* '' */
.icon-nd-video:before { content: '\e80a'; } /* '' */
.icon-nd-education:before { content: '\e80b'; } /* '' */
.icon-nd-kdb:before { content: '\e80c'; } /* '' */
.icon-nd-profile:before { content: '\e80d'; } /* '' */
.icon-nd-questions:before { content: '\e80e'; } /* '' */
.icon-nd-reports:before { content: '\e80f'; } /* '' */
.icon-nd-settings:before { content: '\e810'; } /* '' */
.icon-nd-struct:before { content: '\e811'; } /* '' */
.icon-nd-u-calls:before { content: '\e812'; } /* '' */
.icon-nd-kk:before { content: '\e813'; } /* '' */
.icon-nd-map:before { content: '\e814'; } /* '' */
.icon-nd-deduction:before { content: '\e815'; } /* '' */
.icon-nd-kpi:before { content: '\e816'; } /* '' */
.icon-nd-news:before { content: '\e817'; } /* '' */
