
.icon-nd-analytics:before { content: '\e800'; } /* '' */
.icon-nd-books:before { content: '\e801'; } /* '' */
.icon-nd-courses:before { content: '\e802'; } /* '' */
.icon-nd-dashboard:before { content: '\e803'; } /* '' */
.icon-nd-hr:before { content: '\e804'; } /* '' */
.icon-nd-enter-time:before { content: '\e805'; } /* '' */
.icon-nd-quality:before { content: '\e806'; } /* '' */
.icon-nd-salary:before { content: '\e807'; } /* '' */
.icon-nd-tabel:before { content: '\e808'; } /* '' */
.icon-nd-more:before { content: '\e809'; } /* '' */
.icon-nd-video:before { content: '\e80a'; } /* '' */
